* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #78c0e0;
}

.container {
  height: 700px;
  width: 600px;
  background-color: #449dd1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 35px;
}

#search {
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #0e0e52;
  font-size: 1rem;
}

#search:focus {
  border: 1px solid #0e0e52;
}

h1 {
  padding-top: 20px;
}

.main-icon {
  padding-top: 60px;
  font-size: 100px
}

.topDiv {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.temp {
  padding-top: 30px;
  display: flex;
}

.tempNum {
  font-size: 100px;
}

.tempSymbols {
  padding-top: 20px;
  font-weight: bold;
}

.description {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
